*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    
}
.container{
    width: 100%;
    
}
header{
    margin: 20px 0;
}
.logo{
    width: 200px;
    
}
.banner{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: bottom;
}
    

a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
li{
    list-style: none;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
ul{
    display: flex;
}
@media(max-width:650px){
    ul{
        display: none;
    }
}
.icons{
    padding: 15px;
    margin-top: -5px;
    background-color: rgb(19,19,19);
}
.icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    width: 170px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.icons p{
    margin-top: 10px;
    text-align: center;
    color: rgb(147,116,65);
}
.icons img{
    width: 50px;
}
.hotel{
    margin: 0 auto;
    max-width: 500px;
}
.hotel h2{
    text-align: center;
}
